 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Octops is formed by people that loves Devops, specially docker and everything around it.</p>
                    <p>Docker containers technologies is our passion.</p>
                </div>
                <div class="col-lg-4">
                    <p>Things we love to be doing: Build a CI/CD workflow, create automated development environments, run applications using docker ecosystem, build usefull stuff like tools written in Golang! </p>
                </div>
            </div>
        </div>
    </section>
